.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/bgblog/src/
/bgblog/.settings/
/bgblog/*.project
/bgblog/*.gitignore
/Backgroundmanager/.settings
/Backgroundmanager/target
/Backgroundmanager/*.classpath
/Backgroundmanager/*.project